* {
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    height: 100vh;
    padding: 5%;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    height: 100vh;
    width: 100vw;

    padding: 5%;
    text-align: center;
  }

  .not-found-heading {
    font-size: 100%;
  }

  .not-found-para {
    font-size: 100%;
  }

  .not-found-image {
    width: 100%;
  }
}
